.list_page {
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profil_joueur {
    margin: 1%;
    padding: 1%;
    display: flex;
    width: 100%;
    height: auto;
}

.profil_joueur_photo {
    margin: 1%;
    padding: 1%;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}

img {
    width: 90%;
    height: auto;
}

.profil_joueur_info {
    margin: 1%;
    padding: 1%;
    float: left;
    width: 100%;
    height: auto;
}

.nom_joueur {
    margin: 1%;
    padding: 1%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #552a86;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.information {
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.hidden {
    display: none;
}

[role="alertdialog"],
[role="dialog"] {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #000;
    background-color: #eaeaea;
    min-height: 20vh;
    text-align: center;
}

.dialog_label {
    text-align: center;
}

.dialog_form {
    margin: 15px;
}

.dialog_form .label_text {
    box-sizing: border-box;
    padding-right: 0.5em;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    text-align: right;
}

.dialog_form .label_info {
    box-sizing: border-box;
    padding-right: 0.5em;
    font-size: 12px;
    width: 30%;
    text-align: right;
    display: inline-block;
}

.dialog_form_item {
    margin: 10px 0;
    font-size: 0;
}

.dialog_form_item .wide_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 27em;
}

.dialog_form_item .city_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 17em;
}

.dialog_form_item .state_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 15em;
}

.dialog_form_item .zip_input {
    box-sizing: border-box;
    max-width: 70%;
}

.dialog_form_actions {
    display: flex;
    justify-content: space-evenly;
}

.dialog_close_button {
    float: right;
    position: absolute;
    top: 10px;
    left: 92%;
    height: 25px;
}

.dialog_close_button img {
    border: 0;
}

.dialog_desc {
    padding: 10px 20px;
}


/* native <dialog> element uses the ::backdrop pseudo-element */


/* dialog::backdrop, */

.dialog-backdrop {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialog-backdrop.active {
    display: block;
    backdrop-filter: blur(5px);
    background-color: rgba(45, 45, 49, 0.5);
}